{% extends 'base.html' %}

{% block title %}Upload{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">

      <h1>Dosya Yükleme</h1>
      <hr>

      <form action="/" method="POST" enctype="multipart/form-data">

        <div class="form-group">
          <label>Dosya Seçiniz</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="file"  multiple="">
            <button type="submit" class="btn btn-primary">Yükle</button>
          </div>
        </div>

        
        <br><br>
        
        
        <div>
        <label for="fasta">ya da Fasta dosyasını aşağıdaki alana yapıştırın.</label><br><br>
        <textarea name="fasta" id="fasta">{{ request.form['fasta'] }}</textarea>
        <br>
        <button type="submit" class="btn btn-primary">Yükle</button>
        </div>
        </form>
      

    </div>
  </div>
</div>

{% endblock %}