{% extends 'base.html' %}

{% block title %}Upload{% endblock %}

{% block content %}

<html>

<head>

<body class = "body">

    <body>
    <br><br>
        <div>
        <form action="/apply" method="post">
        <label for="functions">Fonksiyonlar</label>
        <select name="function" id="function">
        {% for function in functions %}
            <option value="{{ function }}">{{ function }}</option>
        {% endfor %}
        </select>
        <br><br>
        <fieldset data-role = "controlgroup" data-type = "horizontal">
        {% for sequence in sequences %}
            <input type="checkbox" id="{{ sequence }}" name="seq" value="{{ sequence }}">
            <label for="{{ sequence }}">{{ sequence }}</label>
        {% endfor %}
        </fieldset>
        <br><br>
        
        <input type="submit">
        </form>
        </div>
        <h3>Çıktı:<h3><br><br>
        <h3>{{ sonuc }}<h3>
        
    </body>

</body>

</html>

{% endblock %}